{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

<div class="columns" style="padding-top: 4rem; padding-bottom: 5.4rem;">
    <div class="column is-half is-offset-one-quarter">
        <div class="box">
            <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <div class="control has-icons-left has-icons-right">
                    <input class="input" placeholder="Nom d'utilisateur ou e-mail" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>

                <label id="label-box"></label>

                <div class="control has-icons-left has-icons-right">
                    <input class="input" placeholder="Mot de passe" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>

                <div class="login-more-content">
                    <div class="checkbox">
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }} ?</label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> |
                        <a class="forgot-password" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
                    </div>
                    <button class="button is-rounded is-link is-outlined login-button" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Connexion</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}