{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block body %}
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>    
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#">
                    <img class="d-block w-100" src="https://i.imgur.com/pp3DhSu.jpg" alt="First slide" />
                </a>               
            </div>

            <div class="carousel-item">
                <a href="#">
                    <img class="d-block w-100" src="https://i.imgur.com/38YpjHj.jpg" alt="Second slide" />
                </a>
            </div>

            <div class="carousel-item">
                <a href="#">
                    <img class="d-block w-100" src="https://i.imgur.com/IDTOueq.jpg" alt="Third slide" />
                </a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    {{ parent() }}
    {{ render(controller('SonataNewsBundle:Post:archiveMonthly', { year : 2018, month : 9, request : app.request }   
    )) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}