{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">    
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}

{% block header %}
    <div id="navbar-top" class="navbar-menu" id="navMenu">
        <div class="navbar-start animated fadeInDown slow">
            <div class="navbar-item">
                <i class="fas fa-map-marker-alt"></i> Avenue des Frères Lumière, 90000 Belfort
            </div>
            <div class="navbar-item">
                <i class="fas fa-envelope"></i> ccsbnsecretariat@yahoo.fr
            </div>
        </div>
        <div class="navbar-end animated fadeInDown slow">
            {% if is_granted("ROLE_ADMIN") %}
                <div class="navbar-item" href="#">
                    <i class="fas fa-unlock-alt"></i>
                    <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
                </div>   
            {% endif %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="navbar-item" href="#">
                    <i class="fas fa-user-alt"></i>
                    <a href="{{ path('fos_user_profile_show') }}">Mon profil</a>
                </div>  
                <div class="navbar-item" href="#">
                    <a href="{{ path('fos_user_security_logout') }}" class="button is-rounded is-small">Déconnexion</a>
                </div>
            {% else %}
                <div class="navbar-item" style="margin-right: -1rem;" href="#">
                    <a href="{{ path('fos_user_security_login') }}" class="button is-rounded is-small">Connexion</a>
                </div>
                <div class="navbar-item" href="#">
                    <a href="{{ path('fos_user_registration_register') }}" class="button is-rounded is-small">Inscription</a>
                </div>
            {% endif %}
        </div>
    </div>

    <nav id="navbar-bottom" class="navbar is-transparent">
        <div class="navbar-brand">
            <div class="navbar-item">
                <a class="logo" href="{{ path('homepage') }}"><span class="logo-one">Centre culturel</span> Belf<span class="logo-two">o</span>rt Nord</a>
            </div>
        </div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        <div id="navbar-bottom" class="navbar-menu">
        <div class="navbar-end animated fadeIn slow">
            <a class="navbar-item" href="{{ path('homepage') }}">Les actualitées</a>
            <a class="navbar-item" href="{{ path('structure') }}">La structure</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">Le secteur familles</div>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{{ path('family') }}">Soutien à la parentalité</a>
                    <a class="navbar-item" href="{{ path('family') }}#isp">Insertion socio-professionnelle</a>
                    <a class="navbar-item" href="{{ path('family') }}#mc">Médiation culturelle</a>
                    <a class="navbar-item" href="{{ path('family') }}#c">Citoyenneté</a>
                    <a class="navbar-item" href="{{ path('family') }}#ss">Séjours/Sorties</a>
                </div>
            </div>
            <a class="navbar-item" href="{{ path('contact') }}"><i class="fas fa-envelope"></i>Contact</a>
        </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    <footer class="footer fixed-bottom">
        <div class="columns">
            <div class="column is-full align-center animated fadeIn slow">
                <a href="http://www.oikos-belfort.fr">
                    <img alt="oikos" width="80" class="" src="http://www.oikos-belfort.fr/wp-content/uploads/2018/02/logo_oikos_white_footer_retina.png">
                </a>
            </div>
        </div> 
        </div>
        <div class="columns">       
            <div class="column is-4 is-full-mobile animated fadeIn slow">
                <a class="footer-link" href="{{ path('rgpd') }}">Mention légales /</a>
                <a class="footer-link" href="{{ path('rgpd') }}#cookies"> Utilisation des cookies /</a>
                <a class="footer-link" href="http://www.oikos-belfort.fr/">Oïkos-Belfort.fr</a>
            </div>

            <div class="column is-4 align-center animated fadeIn slow">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-google-plus-g"></i>
            </div>

            <div class="column is-4 align-end animated fadeIn slow">
                <a class="copyright" href="#">@Copyright 2018 Centre culturel Belfort Nord</a>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/burger.js') }}"></script>
{% endblock %}